*.py[codi]
*.egg-info
__pycache__

*.so
*.dylib
*.dll

/navx/include
/navx/trampolines
/navx/_init__navx.py
/navx/_init_studica_api.py
/navx/navx.pc
/navx/studica_api.pc
/navx/version.py

.cache
.coverage
build
dist
/lib
