*.py[cod]
*.egg-info
__pycache__

*.so
*.dylib
*.dll

/navx/include
/navx/rpy-include
/navx/_init_navx.py
/navx/pkgcfg.py
/navx/version.py

/docs/_build
/docs/_sidebar.rst.inc

.cache
.coverage
build
dist
